body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(./images/background.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

main {
  flex: 1 0 auto;
}

h4 {
  margin: 40px 0;
}

button {
  margin: 20px 0;
}

.navbar {
  margin-bottom: 20px;
}

.exit {
  margin-right: 10px;
}

.flow-text {
  font-size: 18px;
}

.card-link:hover {
  background-color: gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

textarea {
  outline-color: gray;
  border: 1px solid #ccc;
}

.search-bar {
  margin-bottom: 20px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.action {
  font-size: 40px;
}
