body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(./images/background.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

main {
  flex: 1 0 auto;
}

h4 {
  margin: 40px 0;
}

button {
  margin: 20px 0;
}

.exit {
  margin-right: 10px;
}

.flow-text {
  font-size: 18px;
}

.card-link:hover {
  background-color: gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

textarea {
  outline-color: gray;
  border: 1px solid #ccc;
}

.search-bar {
  margin: 20px auto 30px auto;
  border-radius: 6px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.action {
  font-size: 40px;
}

.parallax-image {
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}

.landing-card {
  border-radius: 12px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.landing-card-1 {
  border-radius: 12px;
  height: 425px;
}

.landing-card-1 p {
  font-size: 18px;
}

.due-date {
  border-radius: 6px;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 600;
}
